node_modules
.env
dist/

firebase.json
firestore.indexes.json
.firebaserc
.firebase/
firestore-debug.log
firebase-debug.log
ui-debug.log
storage.rules
.DS_Store

functions/discord.json
functions/JWT.json
functions/back
functions/firebase
functions/test
functions/fields.json
functions/firestore.rules