.loginContainer{
    height: 100vh;
    background: url('../../../../../assets/images/login_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.paper{
    padding: 2em;
}