.loginContainer {
    height: 100vh;
    background: url("../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.paper {
    padding: 2em;
}

.textLink {
    width: 100%;
}

.loginMsg {
    color: green;
}

.error {
    color: red;
}
.login {
    &-con {
        min-width: 300px;
    }
}
