.action-cell{
    

    &-complete{
        background-color: rgba(157, 255, 118, 0.49);
        color: rgba(157, 255, 118, 0.49);
        border: 1px black solid !important;
    }

    &-incomplete{
        background-color: #d47483;
        color: #d47483;
        border: 1px black solid !important;
    }
}

.MuiDataGrid-root{
    background-color: #fff;
    color: #fff;
}

.MuiDataGrid-row{
    cursor: pointer;
} 